<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="MonikaChatEditorApp">
    <head>
        <title>Monika After Story - Chat Editor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/chatEditor.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    </head>
    <body ng-cloak>
        <div ng-controller="EditorCtrl as ec">
            <md-content>
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h2 flex md-truncate>Monika After Story - Conversations Editor</h2>

                        <md-button class="md-raised" ng-click="addNode($event)" aria-label="Add Step">
                            Add step
                        </md-button>

                        <md-button class="md-raised" ng-click="exportJSON($event)" aria-label="Export">
                            Export
                        </md-button>
                        Import:&nbsp;
                        <input type="file" ng-model="importedData" 
                               mas-file-select="json" 
                               file-loaded="importFromFile()">
                    </div>
                </md-toolbar>
                <md-content layout-padding>
                    <div layout="row" layout-margin>
                        <md-input-container>
                            <label>Conversation Name:</label>
                            <input ng-model="coversationName">
                        </md-input-container>
                        <md-input-container>
                            <label>Subject/Question:</label>
                            <input ng-model="conversation.subject">
                        </md-input-container>

                        <md-input-container>
                            <label>Verb:</label>
                            <input ng-model="conversation.verb">
                        </md-input-container>

                        <md-input-container>
                            <label>Adjective:</label>
                            <input ng-model="conversation.adjective">
                        </md-input-container>

                        <md-input-container>
                            <label>Refers to:</label>
                            <input ng-model="conversation.referringNoun">
                        </md-input-container>

                        <md-input-container>
                            <label>Initial Step</label>
                            <md-select ng-model="conversation.nextNode">
                                <md-option ng-repeat="node in conversation.nodes" ng-value="node.id" >
                                    {{node.id}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <md-button class="md-raised" ng-click="showHelp = !showHelp" aria-label="Export">
                        Show/Hide help
                    </md-button>
                    <div ng-show="showHelp">
                        <h2>Help:</h2>
                        <ul>
                            <li><a href="https://github.com/Backdash/MonikaModDev/blob/master/docs/MonikaCheatsheet.jpg" >Monika Expression Cheat Sheet</a> useful to fill the <b>"Reaction"</b> field in each step.</li>
                            <li>If a <b>"Step"</b> is final (no more dialog after it) be sure to set the <b>"Next Step"</b> to none or leave it in blank.</li>
                            <li>The recommended workflow is to create all the needed steps first and then start filling them as required, once you're done press the export button.</li>
                            <li><b>"multi"</b> steps don't have a <b>"Next Step"</b> be careful with that.</li>
                            <li>It's recommended that you make sure the <b>"Next Step"</b> fields are correct, otherwise you may end up with undesired behaviour.</li>
                            <li>If you need to change anything select the exported .json file in the import function in the toolbar.
                            </li>
                            <li>If you want to use the player name write: $PLAYER, soon there'll be more placeholders like that one.
                            </li>
                            <li>If you only care to check an adjective or just the subject or verb or refering thing leave the others empty. for example, in an opinion of monika chat you usually use 
                                the adjective field and leave the others empty, since these are probably the same for that dialogue option.
                            </li>
                            <li>When importing, the conversation name is <b>not</b> imported, be careful with that.
                            </li>
                        </ul>
                    </div>
                    <md-list>
                        <md-header class="md-no-sticky">Steps:</md-header>
                        <div ng-repeat="node in conversation.nodes" >
                            <!--<md-list-item ng-repeat="node in conversation.nodes">-->
                            <div layout="row"  layout-margin>
                                <md-list-item >
                                    <div layout="row"  layout-margin>
                                        Step id: <b>{{node.id}}</b>  
                                        <md-button class="md-raised"ng-hide="node.initialAction != null" ng-click="addInitialActionToNode($event, node)" aria-label="Add Initial Action">
                                            Add Initial Action
                                        </md-button> 
                                        <md-button class="md-raised" ng-hide="node.finalAction != null" ng-click="addFinalActionToNode($event, node)" aria-label="Add Final Action">
                                            Add Final Action
                                        </md-button>
                                        <md-input-container>
                                            <label>Player Input Type:</label>
                                            <md-select ng-model="node.inputType">
                                                <md-option ng-value="null" >
                                                    No Player Input
                                                </md-option>
                                                <md-option ng-repeat="nodeType in nodeInputTypes" ng-value="nodeType" >
                                                    {{nodeType}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-button class="md-raised" ng-hide="node.inputType != 'multi'" ng-click="addMenuOptionToNode($event, node)" aria-label="Add Final Action">
                                            Add Menu Item
                                        </md-button>
                                    </div>
                                </md-list-item>
                            </div>
                            <md-list-item  >
                                <div layout="row" layout-margin>
                                    <md-input-container flex="60">
                                        <label>Text Monika will say:</label>
                                        <input size="500" ng-model="node.displayText">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Reaction:</label>
                                        <input size="7" ng-model="node.reaction">
                                    </md-input-container>
                                    <md-input-container ng-hide="node.inputType == 'multi'">
                                        <label>Next Step</label>
                                        <md-select ng-model="node.nextNode">
                                            <md-option ng-value="null" >
                                                None
                                            </md-option>
                                            <md-option  ng-repeat="node in conversation.nodes" ng-value="node.id" >
                                                {{node.id}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </md-list-item>
                            <md-list-item ng-hide="node.initialAction == null">
                                <div layout="row" layout-margin >
                                    Initial Action: 
                                    <md-input-container >
                                        <label>Key:</label>
                                        <input ng-model="node.initialAction.key">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Value:</label>
                                        <input ng-model="node.initialAction.value">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Action Type:</label>
                                        <md-select ng-model="node.initialAction.type">
                                            <md-option ng-repeat="actionType in actionTypes" ng-value="actionType" >
                                                {{actionType}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-button class="md-raised md-warn" ng-click="removeInitialActionToNode($event, node)" aria-label="Remove Final Action">
                                        Remove
                                    </md-button>
                                </div>
                            </md-list-item>
                            <md-list-item ng-hide="node.finalAction == null">
                                <div layout="row" layout-margin >
                                    Final Action: 
                                    <md-input-container >
                                        <label>Key:</label>
                                        <input ng-model="node.finalAction.key">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Value:</label>
                                        <input ng-model="node.finalAction.value">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Action Type:</label>
                                        <md-select ng-model="node.finalAction.type">
                                            <md-option ng-repeat="actionType in actionTypes" ng-value="actionType" >
                                                {{actionType}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-button class="md-raised md-warn" ng-click="removeFinalActionToNode($event, node)" aria-label="Remove Final Action">
                                        Remove
                                    </md-button>
                                </div>
                            </md-list-item>
                            <md-list-item ng-repeat="option in node.options" ng-hide="node.inputType != 'multi'">
                                <div layout="row" layout-margin>
                                    Menu Option {{($index + 1)}}:
                                    <md-input-container >
                                        <label>Menu Option Text:</label>
                                        <input size="100" ng-model="option.text">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Next Step:</label>
                                        <md-select ng-model="option.nextNode">
                                            <md-option ng-repeat="node in conversation.nodes" ng-value="node.id" >
                                                {{node.id}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-button class="md-raised md-warn" ng-click="removeOptionToNode($event, node, $index)" aria-label="Remove Final Action">
                                        Remove
                                    </md-button>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                        </div>
                    </md-list>
                </md-content>
            </md-content>
        </div>
    </body>
</html>
